.client-card {
  width: 180px;
  min-height: 120px;

  padding: 8px;
  height: 100%;
  max-width: 100%;
  display: block;

  border: 1px solid #eaeced;

  &_small {
    min-height: 100px;
  }
}

.client-card__image {
  display: flex;
  align-items: center;
  height: 100%;
}
