a {
  color: #838c96;
  text-decoration: none;
  transition: 0.2s;

  &:hover {
    color: #838c96;
    text-decoration: none;
  }
}

.a {
  &_more {
    display: inline-flex;
    align-items: center;

    &:after {
      @include fi('chevron-down');
      transform: rotate(-90deg);
      margin-left: 8px;
      color: #5ec587;
    }

    &:hover {
      color: #5ec587;
    }
  }

  &_inherit {
    color: inherit;
  }
}