.city-picker {
  position: relative;

  max-width: 100%;
  background-color: #fff;
  padding: 30px 40px;
  box-shadow: 0 0.93333rem 2rem rgba(42, 137, 137, 0.2);

  display: flex;
  flex-direction: column;
  max-height: 100%;
}