.nav__link {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;

  display: block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 24px;
  padding-bottom: 23px;
  white-space: nowrap;

  &:hover {
    cursor: pointer;
    text-decoration: none;
    color: #5ec587;
  }
}

.nav__item_catalog .nav__link {
  position: relative;
  padding-left: 53px;
  padding-right: 22px;

  &:hover {
    color: #fff;

    &:before {
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
    }
  }

  &:before, &:after {
    background-color: #fff;
    content: '';
    width: 20px;
    height: 2px;
    position: absolute;
    left: 20px;
    top: 50%;
    transition: 0.3s;
  }

  &:before {
    transform: translateY(-6px);
  }

  &:after {
    transform: translateY(2px);
  }
}

.nav__item_dropdown .nav__link {
  display: flex;
  align-items: center;

  &:hover {
    &:after {
      transform: rotate(180deg) translateY(1px);
    }
  }

  &:after {
    @include fi('chevron-down');
    margin-left: 8px;
    transition: 0.2s;
    color: #5ec587;
    transform: translateY(-1px);
  }
}