.badges__item {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;

  padding: 9px 12px 7px 12px;
  border-radius: 0px;

  margin-right: 20px;

  &:not(:last-child) {
    margin-bottom: 6px;
  }
}