.product-card__cart {
  width: 40px;
  height: 40px;
  background-color: #5EC587;
  border: none;
  border-radius: 2px;

  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    @include fi('cart');
    color: #fff;
    font-size: 18px;
  }
}