.advantages-card__dot {
  margin-top: 16px;
  margin-bottom: 28px;
  text-align: center;

  &:before{
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    display: inline-block;
  }
}