.info__phone {
  display: flex;
  flex-direction: column;
}

.info__phone a {
  transition: 0.1s;

  &:first-child {
    font-size: 18px;
    font-weight: 500;
    color: #304050;
    margin-bottom: 8px;
  }
  
  &:last-child:hover {
    color: #5EC587;
  }
}