.user-block__authorization {
  display: flex;
}

.user-block__authorization a {
  display: flex;
  align-items: center;
  transition: 0.1s;

  &:first-child {
    &:after {
      content: '';
      display: block;
      margin: 0px 20px;
      width: 1px;
      height: 24px;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.user-block__authorization a:hover {
  color: #5EC587;
}