.slider-advantages__button {
  cursor: pointer;
  position: absolute;
  z-index: 1000;
  top: 50%;
  transform: translateY(-50%);

  &:after {
    display: inline-block;
    @include fi('swiper-arrow');
    font-size: 60px;
    color: #fff;
    opacity: 0.6;
  }

  &:first-child {
    left: -45px;
  }

  &:last-child {
    right: -45px;

    &:after {
      transform: rotate(180deg);
    }
  }
}

.slider-advantages .swiper-button-disabled {
  &:after {
    opacity: 0.2;
  }
}