.nav__item {
  &_catalog {
    transition: 0.3s;

    & .nav__link {
      background: rgba(255, 255, 255, 0.1);
    }

    &:hover {
      background-color: #5ec587;
    }
  }

  &_about {
    position: relative;
  }
}

.nav__item_catalog + .nav__item {
  padding-left: 10px;
}