.catalog-menu__preview {
  padding: 30px;
  height: 100%;
  background-image: url(../../../bundles/images/products/product-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}