.discount__col {
  padding-left: 15px;
  padding-right: 15px;
  flex: 0 0 100%;
  position: relative;

  &_desc {
    flex-basis: 66.66666%;
  }

  &_image {
    flex-basis: 33.33333%;
  }

  &_range {
    flex-basis: 66.66666%;
  }

  &_text {
    flex-basis: 50%;
    max-width: 50%;
  }

  &_additional {
    flex-basis: 50%;
    max-width: 50%;
    padding-top: 28px;

    display: flex;
    justify-content: center;
  }
}