$font-family-sans-serif: 'Muller', sans-serif !default;

$line-height-lg:              1.8 !default;
$line-height-sm:              1.5 !default;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1200px
) !default;

$cyan:    #2a8989 !default;


// Теперь переопределенные переменные должны содержать ключевое слово !default;
@import "../blocks.01-base/fi/variables";
@import "~bootstrap/scss/variables";
// Теперь переопределенные переменные не должны содержать ключевое слово !default;
