.news-card__play {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 30px);
  height: 180px;
  background-color: transparent;
  transition: 0.2s;

  &:hover {
    background-color: rgba(42, 137, 137, 0.4);

    &:before {
      background-color: #5EC587;
    }

    &:after {
      color: #fff;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fff;
    transition: 0.2s;
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    cursor: pointer;
    @include fi('play');
    color: #5EC587;
    font-size: 20px;
    transition: 0.2s;
    margin-left: 2px;
  }
}