.footer {
  background-color: #304050;
  padding-top: 66px;
  padding-bottom: 54px;

  &__top {
    padding-bottom: 36px;
  }

  &__bottom {
    padding-top: 20px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 1px;
      background-color: hsla(0,0%,100%,.1);

      max-width: 910px;
    }
  }
}