.square-card__disable {
  display: none;

  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 100%, 0.7);
  }
}

.square-card_disable .square-card__disable {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 1px solid transparent;
}

.square-card__disable-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 16px;

  width: 100%;
  max-width: 140px;

  z-index: 2;
  background-color: #fff;
  padding: 16px 12px;
  border-radius: 5px;

  box-shadow: 0 0.66667rem 1.33333rem rgba(42, 137, 137, 0.2);
  font-size: 13px;
  text-align: center;

  & b {
    display: block;
  }
}