.footer__col {
  flex: 0 0 100%;
  padding: 0 15px;

  &_logo {
    flex-basis: 25%;
    max-width: 25%;
  }

  &_nav {
    flex-basis: 50%;
    max-width: 50%;
  }

  &_contacts {
    flex-basis: 25%;
    max-width: 25%;
  }

  &_copyright {
    flex: 0 0 50%;
  }

  &_developer {
    flex: 0 0 50%;
  }
}