.square-card__title {
  font-size: 14px;
  color: #304050;
}

.square-card__title [data-toggle="ellipsis"] {
  $countRow: 4;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $countRow;
  -webkit-box-orient: vertical;
}