.main__section {
  padding-top: 70px;
  padding-bottom: 80px;

  &_discount {
    background-image: url(./../../../bundles/images/discount/bg.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50%;
  }
}