.top-columns .top-columns__button {
  cursor: pointer;
  position: absolute;
  z-index: 1000;
  top: 50%;

  &:after {
    display: inline-block;
    @include fi('swiper-arrow');
    font-size: 60px;
    color: #304050;
    opacity: 0.6;
  }

  &:first-child {
    left: -20px;
  }

  &:last-child {
    right: -20px;

    &:after {
      transform: rotate(180deg);
    }
  }
}

.top-columns .swiper-button-disabled {
  &:after {
    opacity: 0.2;
  }
}