.search__icon {
  &:before {
    cursor: pointer;
    @include fi('search');
    color: #304050;
    opacity: 0.2;
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    transition: 0.2s;
  }
}