.nav__dropdown {
  display: none;

  &_catalog {
    width: 100%;
  }

  &_about {
    min-width: 246px;
  }

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  color: #304050;
  box-shadow: 0 12px 32px 0 rgba(0, 0, 0, 0.1);
}

.nav__item:hover .nav__dropdown {
  display: block;
}