.range__point {
  position: relative;
  padding-top: 32px;
  text-align: center;

  &:before {
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: -28px;
    left: 50%;
    transform: translateX(-50%);
  }

  &:after {
    content: '';
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    top: -19px;
    left: 50%;
    transform: translateX(-50%);
  }

  &_active:after {
    background-color: #5ec587;
  }
}

.range_steps .range__point {
  &:before {
    height: 51px;
    width: 1px;
    border-radius: 0;
    background-color: rgba(48,64,80,.2);
  }
}