.socials {
  margin: 0 -10px;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  color: #fff;

  font-size: 1.6rem;

  &__item {
    padding: 0 10px;
  }

  &__link {
    display: block;
    padding: 6px;
    margin: -6px;
    color: inherit;
    cursor: pointer;

    &:hover {
      color: $teal;
    }
  }
}