.range__fill {
  width: 25%;
  position: relative;
  z-index: 1;
  background: linear-gradient(90deg,#5ec587,#5ec587 60%,hsla(0,0%,100%,0));
  height: 4px;
  border-right: 4px;
}

.range_steps .range__fill {
  width: 22%;
  height: 6px;
  border-radius: 6px;
  background: #5ec587;

  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 18px;
    height: 18px;
    top: -6px;
    right: -9px;
    border-radius: 50%;
    background-color: #5ec587;
  }

  &:after {
    content: '';
    position: absolute;
    right: -15px;
    top: -12px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    box-shadow: 0 0.93333rem 2rem rgba(42, 137, 137, 0.2);
    background-color: #fff;
  }
}