.discount__count {
  width: 114px;
  height: 114px;
  font-size: 28px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  background-color: rgba(94,197,135,.1);
  border-radius: 50%;
  color: #5ec587;
  font-weight: 500;

  &:before {
    content: '';
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0.93333rem 2rem rgba(42, 137, 137, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  & span {
    position: relative;

    & small {
      font-size: 1rem;
      font-weight: inherit;
    }
  }

  &:after {
    content: attr(data-text);
    position: absolute;
    right: 93%;
    bottom: -8px;
    color: rgba(48, 64, 80, 0.8);
    white-space: nowrap;

    background-image: url(../../../bundles/images/discount/arrow.png);
    background-repeat: no-repeat;
    background-position: 100%;

    font-size: 1.06667rem;
    font-weight: 400;
    padding-right: 72px;
    padding-top: 24px;
  }
}