.search__input {
  padding: 16px 40px 16px 20px;
  height: 40px;

  &:focus + .search__icon:before {
    color: #5ec587;
    opacity: 1;
  }

  &_main {
    border-color: #5ec587;
    height: 46px;
  }
}