.header__city-picker {
  display: none;

  max-width: 1250px;
  padding: 15px 0;
  width: 100%;
  height: 100%;

  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &.active {
    display: block;
  }
}