.range__track {
  height: 15px;
  width: 100%;
  position: relative;

  display: flex;
  align-items: center;
  padding-right: 3px;
  padding-left: 3px;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #fff;
    border-radius: 14px;
  }
}

.range_steps .range__track {
  height: 10px;
}