.tab-list__link {
  color: rgba(48, 64, 80, 0.6);
  font-size: 18px;
  font-weight: 500;
  padding: 15px 0px;

  &:not(:last-child) {
    margin-right: 40px;
  }

  &.active {
    color: #304050;
    border-bottom: 2px solid #5ec587;
  }
}