.square-card {
  border: 1px solid #eaeced;
  min-height: 178px;
  width: 195px;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 26px;

  position: relative;
}

.square-card__top {
  margin-bottom: 6px;
  flex: 1 1 auto;
}