.news-card {
  margin-bottom: 30px;
}

.news-card__date {
  margin-bottom: 6px;

  font-size: 13px;
  color: #304050;
  opacity: 0.6;
}

.news-card__title {
  display: block;
  margin-bottom: 16px;

  font-size: 16px;
  color: #304050;
  transition: 0.3s;
  cursor: pointer;
  
  &:hover {
    color: #5ec587;
  }
}

.news-card__desc {
  font-size: 14px;
  color: rgba(48, 64, 80, 0.8);

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  word-wrap: break-word;
}

.news-card__desc[data-toggle="ellipsis"] {
  $countRow: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $countRow;
  -webkit-box-orient: vertical;
}