.city-picker__tab {
  font-weight: 500;
  color: #838c96;
  padding-bottom: 7px;
  cursor: pointer;
  transition: 0.1s;

  &.active {
    color: #304050;
    border-bottom: 2px solid #5ec587;
  }

  &:not(:last-child) {
    margin-right: 30px;
  }

  &:not(&.active) {
    &:hover {
      color: #5ec587;
    }
  }
}